@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
*{
    margin: 0;
    padding: 0;
    transition: all 500ms linear;
    font-family: 'Concert One', cursive;
}
body{
    background-color: white;
}

.btnReturn{
    position: absolute;
    bottom: 25%;
    right: 25%;
    color: white;
    background-color: red;
    padding: 20px;
    font-size: 50px;

    border-radius: 25px;
}
.btnReturn:hover{
    transform: scale(1.1);
}

main.stream{
    width: 800px;
    height: 600px;
    font-weight: bold;
    color: white;
}
main.stream div{
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.8);
    border-radius: 40px;
}

main.stream h1{
    font-size: 55px;
    text-decoration: underline;
    margin-left: 50px;
    margin-bottom: 30px;

    padding-top: 30px;
}
main.stream h2{
    font-size: 40px;
    margin-left: 80px;
    padding: 5px;
}

main.stream .author{
    position: absolute;
    bottom: 30px;
    right: 30px;
}


/********************************************************************************
*      *    *   ******   *      *  ******
*      *    *   *    *   **    **  *
*      ******   *    *   * *  * *  ****
*      *    *   *    *   *  **  *  *
*      *    *   ******   *      *  ******
**********************************************************************************/
header{
    width: 100%;
    height: 15vh;
    background-color: #aea1ff;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    margin-bottom: 100px;
}
header .titleHome{
    width: 100%;
    font-size: 60px;
    text-decoration: underline;
    text-align: center;
}

footer{
    width: 100%;
    height: 15vh;
    background-color: #aea1ff;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    margin-top: 100px;
}

footer div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer div.top
{
    width: 100%;
    height: 80%;
}
footer div.bottom
{
    width: 100%;
    height: 20%;
}

main.home{
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px;
}

main.home .game{
    width: 500px;
    height: 350px;
    background-color: var(--bg-color);
    border-radius: 25px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
main.home .game h2{
    font-size: 50px;
    color: white;
}
main.home .game input{
    width: 300px;
    height: 35px;

    border-style: none;
    border-color: black;
    border-radius: 40px;

    text-align: center;
    font-size: 20px;
}
main.home .game button{
    width: 200px;
    height: 40px;

    border-style: none;
    border-color: black;
    border-radius: 40px;

    text-align: center;
    font-size: 15px;
}
main.home .game button:hover{
    transform: scale(1.1);
    cursor: pointer;
}
main.home .game .top{
    width: 100%;
    height: 20%;
    color: white;
    text-align: center;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}